@import '../../../assets/scss/_mixins.scss';

.CreateEvent {
  width: 744px;
  margin-top: 64px;
  padding-bottom: 191px;

  @include w1024 {
    padding-bottom: 319px;
  }

  @include w768 {
    width: 100%;
    padding-bottom: 254px;
  }

  @include w360 {
    margin-top: 72px;
    padding-bottom: 273px;
  }

  .TitleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    .BackLink {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
